*{
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #77838F;
    --headings-color: #1E2022;
    --primary-color: #142D71;
    --secondary-color: #EC615B; 
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito';
    color: var(--headings-color);
}

p, li, a {
    color: var(--text-color);
}

button {
    cursor: pointer;
    border-radius: 4px;
}

.cta {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 15px;
}

.header {
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4% 10.4%;
    align-items: center;
    font-size: 1rem;
}

.navigation {
    display: flex;
}

.navigation > ul {
    display: flex;
    align-items: center;
}

.header i {
    display: inline-block;
    width: 8px;
    height: 7px;
    color: var(--text-color);
}

.navigation li {
    margin-right: 30px;
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    margin-right: 11px;
}